<% if user_signed_in? %>
  <div class="row">
    
    <div class="col-sm-8 col-xs-12">
      <div class="well-default">
        <%= form_tag lists_path, method: "get", id: "list_search" do %>
          
          <div class="row">
            <div class="col-xs-12">
              <h3>Search Lists</h3>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-9 col-xs-8">
              <%= text_field_tag :search, @params.try(:search),
                        class: "form-control",
                        placeholder: "Search by Title" %>
            </div>
            <div class="col-sm-1 col-xs-2">
              <%= submit_tag "Search", name: nil,
                        class:"btn btn-default"%>
            </div>
          </div> <!-- end row -->
        <% end %> <!-- end form -->
      </div> <!-- end well-default -->
    </div> <!-- end col-sm-8 col-xs-12 -->
    <div class="visible-xs"><br/></div>
    <div class="col-sm-4 col-xs-12">
      <div class="well-success">
        <%= form_for @new_list do |f|%>
          <div class="row">
            <div class="col-xs-12">
              <h3>Create a New List</h3>
            </div>
          </div>
          
          <div class="row">
            
              <div class="col-xs-7">
                <%= f.text_field :title, class: 'form-control', placeholder: 'Groceries, Homework...'%>
              </div>
              <div class="col-xs-1">
                <%= f.button 'Create', class: 'btn btn-success' %>
              </div>
         
          </div>
        </div>
       <% end %>
      </div>  
  </div>

  <br/>
  <div class="row">
    <div class="col-xs-12" id="lists">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="sort" data-sort="title">Title</th>
            <th class="sort" data-sort="owner">Owner</th>
            <th class="sort" data-sort="date">Date</th>
            <th class="sort" data-sort="completeness">Completeness</th>
            <th>Delete List</th>
          </tr>
        </thead>
        <tbody class="list">
          <% @lists.each do |list| %>
            <tr>
              <td class="list title"><%= link_to list.title, list_path(list) %></td>
              <td class="owner"><%= list.user.email %> </td>
              <td class="date"><%= list.created_at.strftime('%b %d, %Y') %></td>
              <td class="completeness"><%= list.completeness.to_s%>%</td> 
              <td>
                <%= form_tag list_path(list), method: :delete, data: {confirm: 'Are you sure?'} do %>
                  <%= button_tag type: 'submit', class: 'btn btn-danger' do %><i class='fa fa-times-circle'> Delete</i><%end%>
                <%end%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% else %>
  <div class="well danger">
    Sorry, You must be logged in to view lists
  </div>
<% end %>
