<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= @list.title %></h2>
  </div>
  <div class="panel-body">
    <div id="list_body">
      <% if @list.body == ''%>
        <span class="no_list">No list yet, hit edit to start one</span>
      <% else %>
        <%= raw @list.body %>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-4">
        <%= form_for @list do |f| %>
          <% if current_user.try(:id) == @list.user_id%>
            <%= f.hidden_field :body, id:'list_body_form' %>
            <%= f.submit 'Save', class: 'btn btn-primary', id: 'save_button' %>
            <%= f.button 'Cancel', class: 'btn btn-danger', id: 'cancel_button'%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
<br/>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
