
<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>New Blog Post</h1>
  </div>
  <div class="panel-body">
    <div class="form-group">
    <div class="form-group">    
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, id: "content_summernote" %>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :category %><br>
        <%= f.text_field :category, class: "form-control" %>
      </div>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id%>
  </div>
  <div class="panel-footer">
    <div class="actions form-group">
      <%= f.submit 'Submit', class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>


