<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <%= form_tag blog_posts_path, method: "get", id: "blog_search" do %>
        <div class="row">
          <div class="col-xs-3">
            <h3>Search Blog</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <%= text_field_tag :search, @params[:search],
                      class: "form-control",
                      placeholder: "Search by Title" %>
          </div>
          <div class="col-xs-2">
            <%= text_field_tag :category, @params[:category],
                      class: "form-control",
                      placeholder: "in all categories" %>
          </div>
          <div class="col-xs-1">
            <%= submit_tag "Search", name: nil,
                      class:"btn btn-default"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="blog_posts">
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="sort" data-sort="title">Title</th>
        <th class="sort" data-sort="category">Category</th>
      </tr>
    </thead>

    <tbody class="list">
      <% @blog_posts.each do |blog_post| %>
        <tr>
          <td class="title"><%= link_to blog_post.title, blog_post_path(blog_post) %> <i>(<%= time_ago_in_words(blog_post.created_at) %>)</i></td>
          <td class="category"><%= blog_post.category %></td>
          <td><%= blog_post.created_at.strftime('%b %d, %Y') %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Blog post', new_blog_post_path, class: "btn btn-success" %>
<% end %>