<!DOCTYPE html>
<html>
<head>
  <title>WebsiteBase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Name/Icon</a>
        <a class="navbar-btn" href="#">Link 1</a>
        <a class="navbar-btn" href="#">Link 2</a>
        <a class="navbar-btn" href="#">Link 3</a>
        <% if defined?(current_user.email) %>
          <div style="float:right" class="navbar-email">
            <%= link_to current_user.email, ""%>
            | <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
          </div>
        <% else %>
          <div style="float:right" class="navbar-email">
            <%= link_to 'Login', user_session_path%>
            | <%= link_to 'Register', new_user_registration_path, method: :get%>
          </div>
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
